<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <h3>Post请求</h3>
  <form action="/doLogin" method="post">
    <input type="text" id="name" name="name" /> <br>
    <input type="text" id="age" name="age" /> <br>
    <input type="submit" id="btn2" value="提交">
  </form>
</body>

</html>
